APP_BASIC_AUTH_USER=admin
APP_BASIC_AUTH_PASSWORD=change-me
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/empleados
SPRING_DATASOURCE_USERNAME=empleados
SPRING_DATASOURCE_PASSWORD=empleados
SPRING_PROFILES_ACTIVE=dev
